.expertServicesSection {
    margin-top: 100px;
}

.expertServicesText {
    position: relative;
    top: -100px;
    background-color: #000000;
    margin: 0 auto;
    padding: 20px;
    /* border: solid; */
    /* border-style: solid; */
    /* border-width: 20px; */
    /* border-color: #ffffff; */
    max-width: 900px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 0;
    text-align: center;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* font-size: 28px; */
}

p {
    font-family: Verdana, "Geneva", sans-serif;
    line-height: 100%;
    color: #ffffff;
    margin: 0 !important;
    text-align: center !important;
}

hr {
    border: none;
    height: 5px;
    background-color:#dddddd;
    margin-top: 0;
    margin-bottom: 0;
}

.expertServicesImage {
    height: 100% !important;
    width: 100% !important;
    clip-path: inset(150px 0px 110px 0px);
}
/* These rules take effect when the browser's width */
/* is either 225px or more. */
@media screen and (min-width: 225px) {
    h1 {
        font-size: 20px !important;
    }
    p {
        font-size: 12px;
    }
    .expertServicesText {
        top: -20px;
    }
    .expertServicesImage {
        clip-path: inset(0px 0px 0px 0px);
    }
}
/* These rules take effect when the browser's width */
/* is either 320px or more. */
@media screen and (min-width: 320px) {
    .expertServicesText {
        top: -50px;
    }
}
/* These rules take effect when the browser's width */
/* is either 576px or more. */
@media screen and (min-width: 576px) {
    p {
        font-size: 14px;
        line-height: 150% !important;
    }
    .expertServicesText {
        top: -80px;
    }
}
/* These rules take effect when the browser's width */
/* is either 768px or more. */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 25px !important;
    }
}
/* These rules take effect when the browser's width */
/* is either 992px or more. */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 35px !important;
    }
    p {
        font-size: 18px;
    }
}
/* Extra small (xs) devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium (md) devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large (lg) devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra (xl) large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
